header{width:100%; height:70px; position:fixed; z-index:999; background:#fff;}

nav {
    z-index:999;
    display:flex;
    height:60px;
    max-width:1280px;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
    @include xl {
        position: relative;
        margin:0 auto;
        height:70px;
    }
    @include lg {
        position:relative;
        margin:0 auto;
        height:70px;
    }
    @include md {
        position:relative;
        margin:0 auto;
        height:70px;
    }
} .logo{
    position:absolute;
    top:10px;
    left:10px;
    @include xl {
        top:10px;
        left:0px;
    }
    @include lg {
        top:10px;
        left:0px;
    }
    @include md {
        top:10px;
        left:0px;
    }
}.sticky {
    background:#dadada;
} nav #menubar {
        position: absolute; 
        width:100%;
        top:70px; 
        
    @include xl {
        position: absolute; 
        width:400px;
        top:30px;
        right:48px;
    }
    @include lg {
        position: absolute; 
        width:400px;
        top:10px;
        right:10px;
    }
    @include md {
        position: absolute; 
        width:400px;
        top:10px;
        right:10px;
    }
} nav .cell {
    text-align:center; 
    text-transform:uppercase;
} nav .cell:nth-child(2) { 
    padding:20px 0 0px 0px;
    @include xl {
        padding: 0 0 0 0;
    }
    @include lg {
        padding: 0 0 0 0;
    }
    @include md {
        padding: 0 0 0 0;
    }
} nav .cell:nth-child(3) {
    padding:20px 0 20px 0px;
    @include xl {
        padding: 0 0 0 0;
    }
    @include lg {
        padding: 0 0 0 0;
    }
    @include md {
        padding: 0 0 0 0;
    }
} nav a, nav a:visited {  
    color: $blue;
    text-decoration: none;
} nav a:hover, nav a:active {
    color: $blue;   
    text-decoration: none; ;
} .hide{
    @include sm {
        display: none;
    }
    @include xs {
        display: none;
    }

} .close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
} .close:hover {
    
} .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
} .close:before {
    transform: rotate(45deg);
} .close:after {
    transform: rotate(-45deg);
}



.border-menu {
    position: absolute;
    right: 10px;
    top: 10px;
    height:32px;
    width:32px;
    background:#ff00ff;
}
