// Page
html { 
    font-size: 62.5%; 
} body { 
    font: 400 1.2rem 'Open Sans', sans-serif;
    line-height: 2rem;  
    color:#fff; 
} section {
    position:relative; 
    max-width:100%;
    margin:0 auto; 
    background:#fff;
} .main {
    flex: 1;
    position:relative; 
    min-height:100vh;  
    padding-top:70px;
// First section
} .hero {
    position:relative; 
    width:100%;
    height:400px; 
    background:   linear-gradient(
        rgba(0, 0, 0, 0.0), 
        rgba(0, 0, 0, 0.0)
    ),
    url(../../dist/images/enchant-your-guests.jpg) 65% no-repeat ;
} .enchant {
    display:flex;
    @include center;
    font:700 4rem 'Alegreya', serif;
    padding:74px 0 0 0;
    text-shadow: -1px 2px 8px #111;
    @include xl {
    font:700 6.4rem 'Alegreya', serif; 
    padding:74px 0 0 0;
    }
    @include lg {
    font:700 6.4rem 'Alegreya', serif; 
    padding:74px 0 0 0;
    }
    @include md {
    font:700 6.4rem 'Alegreya', serif; 
    padding:74px 0 0 0;
    }
} .bring-your {
    display:flex;
    font:700 3rem 'Alegreya', serif; 
    padding:0 0 40px 0;
    text-shadow: -1px 2px 4px #111;
    @include center;
    @include xl {
        padding:0 0 100px 0;
    }
    @include lg {
        padding:10px;
    }
    @include md {
        padding:10px;
    }
} .container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto; 
    padding: 0;
} .container:nth-child(2) {
    background: $blue;
    @include xl {
        padding:10px;
    }
    @include lg {
        padding:10px;
    }
    @include md {
        padding:10px;
    }
} .container:nth-child(2) .cell {
    margin: 0 0 20px 0;
    @include xl {
        margin: 0 0 0 0;
    }
    @include lg {
        margin: 0 0 0 0;
    }
    @include md {
        margin: 0 0 0 0;
    }
} .container:nth-child(2) .cell:nth-child(1) {
    margin: 20px 0 20px 0;
    @include xl {
        margin: 0 0 0 0;
    }
    @include lg {
        margin: 0 0 0 0;
    }
    @include md {
        margin: 0 0 0 0;
    }
} .container:nth-child(2) img{
    width: 64px;
    height: 64px;

} section:nth-child(2) .container {
    max-width: 1130px;
    padding:5px;
    @include xl {
        padding: 36px 0;
    }
    @include lg {
        padding: 36px 0;
    }
    @include md {
        padding: 36px 0;
    }
} figure{
    position:relative;
    padding:0 0 0 0;
    margin:0 0 0 0 ;
} figcaption {
    position:absolute;
    display:flex;
    width:100%;
    height:66px;
    bottom:0px;
    padding:0 0 0 17px;
    @include center-left;
    background:rgba(0, 0, 0, 0.5);

// Delivery section
} section:nth-child(3) .cell{
    background: $blue;
} .delivery {
    text-align:center;
    padding:38px 0 0 17px;
    @include xl {
        text-align:left;
        padding:48px 0 16px 55px;
    }
    @include lg {
        text-align:left;
    }
    @include md {
        text-align:left;
    }

} section:nth-child(3) .cell:nth-child(1) article {
        padding:40px 39px 28px 39px;
    @include xl {
        padding:0 39px 28px 39px;
    }
    @include lg {
        padding:0 39px 28px 39px;
    }
    @include md {
        padding:0 39px 28px 39px;
    }
} section:nth-child(3) .cell:nth-child(2) article {
        padding:20px 20px 28px 20px;
    @include xl {
        padding:0 20px 28px 20px;
    }
    @include lg {
        padding:0 20px 28px 20px;
    }
    @include md {
        padding:0 20px 28px 20px;
    }
} section:nth-child(3) .cell:nth-child(3) article {
        padding:20px 39px 28px 39px;
    @include xl {
        padding:0 39px 28px 39px;
    }
    @include lg {
        padding:0 39px 28px 39px;
    }
    @include md {
        padding:0 39px 28px 39px;
    }
 }
 .img-full {width: 100%; height:auto; display:block;  }
