h1 { 
    font:700 3rem 'Alegreya', serif; 
    margin:0 0 0 0; 
    padding:0 0 0 0; 
} h2 { 
    font:400 1.2rem 'Open Sans', sans-serif;
    margin:3px 0 0 0; 
    padding:0 0 0 0; 
    text-transform:uppercase;
} p {
    margin:0 0 0 0; 
    padding:0 0 0 0; 
} article h2{
    font:700 1.3rem 'Open Sans', sans-serif;
    text-align:center;
    padding:0 0 19px 0;
    
    @include xl {
        text-align:left;
    }
    @include lg {
        text-align:left;
    }
    @include md {
        text-align:left;
    }
} article p{
    font:400 1.5rem 'Open Sans', sans-serif;
    text-align:center;
    line-height:2.2rem;
    
    @include xl {
        text-align:left;
    }
    @include lg {
        text-align:left;
    }
    @include md {
        text-align:left;
    }
} figcaption h2 {
    font:400 2rem 'Open Sans', sans-serif;
}