doctype html
html.no-js(lang='en')
    head
        include head.pug
    body
        header
            include nav.pug
        .main
            section
                .container
                    .hero
                        | enchant your guests
                        br
                        | Bring your party to them!
                .container
                    .grid.grid--gutters.grid--flexcells.gridxs--full.gridsm--full.gridmd--1of3.gridlg--1of3.gridxl--1of3
                        .cell.center
                            img.img-full(src='dist/images/feature-quality.png' alt='feature quality')
                            h2 quality
                            p products selected by experts
                        .cell.center
                            img.img-full(src='dist/images/feature-reliability.png' alt='feature reliability')
                            h2 reliability
                            p the package includes everything
                        .cell.center
                            img.img-full(src='dist/images/feature-speed.png' alt='feature speed')
                            h2 speed
                            p delivery anytime
            section
                .container
                    .grid.grid--gutters.grid--flexcells.gridxs--full.gridsm--full.gridmd--1of2.gridlg--1of3.gridxl--1of3
                        .cell
                            figure
                                img.img-full(src='dist/images/romance.jpg' alt='romance')
                                figcaption
                                    | Romance for two
                        .cell
                            figure
                                img.img-full(src='dist/images/visitors.jpg' alt='visitors')
                                figcaption
                                    | Feast for your visitors
                        .cell
                            figure
                                img.img-full(src='dist/images/picnic.jpg' alt='picnic')
                                figcaption
                                    | Picnic
                        .cell
                            figure
                                img.img-full(src='dist/images/grill.jpg' alt='grill')
                                figcaption
                                    | Grill Party
                        .cell
                            figure
                                img.img-full(src='dist/images/celebration.jpg' alt='celebration')
                                figcaption
                                    | Celebration
                        .cell
                            figure
                                img.img-full(src='dist/images/kids.jpg' alt='kids')
                                figcaption
                                    | Kid's Party
            section
                .container
                    .grid.grid--gutters.grid--flexcells.gridxs--full.gridsm--full.gridmd--full.gridlg--full.gridxl--full
                        .cell
                            .deliver
                                article
                                    | Delivery of premade shit
                    .grid.grid--gutters.grid--flexcells.gridxs--full.gridsm--full.gridmd--1of2.gridlg--1of3.gridxl--1of3
                        .cell
                            article
                                h2 Party with us = no worries
                                p basldldsdsald
                        .cell
                            article
                                h2 You can be sure your visitors will be pleased
                                p basldldsdsald
                        .cell  
                            article  
                                h2 Don't spent time shopping. ENJOY YOURSELF
                                p basldldsdsald                      


                
        script(src='dist/scripts/main.js')
