doctype html
html.no-js(lang='en')
    head
        include head.pug
    body
        header
            include nav.pug
        .main
            section
                .container
                    .hero
                        .enchant
                            | Enchant your guests
                        br
                        .bring-your 
                            | Bring your party to them!
                        button.hero-button
                            | Choose a package
                .container
                    .grid.grid--gutters.grid--flexcells.gridxs--full.gridsm--full.gridmd--1of3.gridlg--1of3.gridxl--1of3
                        .cell.center
                            img.img-full(src='dist/images/feature-quality.png' alt='feature quality')
                            h2 quality
                            p products selected by experts
                        .cell.center
                            img.img-full(src='dist/images/feature-reliability.png' alt='feature reliability')
                            h2 reliability
                            p the package includes everything
                        .cell.center
                            img.img-full(src='dist/images/feature-speed.png' alt='feature speed')
                            h2 speed
                            p delivery anytime
            section
                .container
                    .grid.grid--gutters.grid--flexcells.gridxs--full.gridsm--full.gridmd--1of2.gridlg--1of3.gridxl--1of3
                        .cell
                            figure
                                img.img-full(src='dist/images/romance.jpg' alt='romance')
                                figcaption
                                    | Romance for two
                        .cell
                            figure
                                img.img-full(src='dist/images/visitors.jpg' alt='visitors')
                                figcaption
                                    | Feast for your visitors
                        .cell
                            figure
                                img.img-full(src='dist/images/picnic.jpg' alt='picnic')
                                figcaption
                                    | Picnic
                        .cell
                            figure
                                img.img-full(src='dist/images/grill.jpg' alt='grill')
                                figcaption
                                    | Grill Party
                        .cell
                            figure
                                img.img-full(src='dist/images/celebration.jpg' alt='celebration')
                                figcaption
                                    | Celebration
                        .cell
                            figure
                                img.img-full(src='dist/images/kids.jpg' alt='kids')
                                figcaption
                                    | Kid's Party
            section
                .container
                    .grid.grid--gutters.grid--flexcells.gridxs--full.gridsm--full.gridmd--full.gridlg--full.gridxl--full
                        .cell
                            .delivery
                                h1 Delivery of premade packages for your visitors
                    .grid.grid--gutters.grid--flexcells.gridxs--full.gridsm--full.gridmd--1of2.gridlg--1of3.gridxl--1of3
                        .cell
                            article
                                h2 Party = worries? Not with us!
                                p How much food should I prepare? Which wine should i choose? Will they like this cheese? Stop worrying. In our packages you will find everything you need for your visitors: quality food from farmers, good drinks that goes well with the meals and even all the nexessary accessories including details like serviettes, trays, candles etc.
                        .cell
                            article
                                h2 You can be sure your visitors will be pleased
                                p Do you want to impress your visitors and make your name as a great host? With us you can be certain to do that. We pay the maximum attention to the selection of meals. All the ingredients are from czech farmers, wines are from moravian vineyards. Everything is fresh and quality-tested. Our packages just work and your guests will be pleased.
                        .cell  
                            article  
                                h2 Don't spent time shopping. ENJOY YOURSELF
                                p Shopping is boring and can be demanding if you want quality. Visit farmer's markets, speciality shops - where should you find the time? Don't despair, we will do this for you. You just choose your package and wait in the comfort of your home for the delivery that contains everything that you need for your party or a surprise visit.                    


                
        script(src='dist/scripts/main.min.js')
