//- nav.pug
nav.nav
    .logo
        img.img-full(src='dist/images/your-party.png' alt='logo')
    .grid#menubar.gridxs--full.gridsm--full.gridmd--1of3.gridlg--1of3.gridxl--1of3.hide
        .cell
            a(href='#sec01') Packages
        .cell
            a(href='#sec02') Tips for Hosts
        .cell
            a(href='#sec03') About the shop

    .hamburger.gridxl--hide.gridlg--hide.gridmd--hide
        .close.hide
        .border-menu
        